.bg-inverse {
  background-color: $bg-inverse-color;
}

.navbar-dark {
  .navbar-text {
    color: $navbar-dark-hover-color;
  }
}

.navbar-text {
  padding: $nav-link-padding-y;
}

.ood-appkit.navbar {
  ul.navbar-breadcrumbs {
    list-style-type: none;
    margin: 0;
    padding: 0;

    @media (min-width: map-get($grid-breakpoints, md)) {
      & {
        margin-left: -$navbar-padding-x;
      }
    }

    > li {
      float: left;

      > a {
        @extend .navbar-brand;
      }

      + li:before {
        @extend .navbar-brand;
        content: '/';
      }
    }
  }

  &.navbar-light {
    ul.navbar-breadcrumbs > li {
      > a {
        color: $navbar-light-hover-color;
        &:hover,
        &:focus {
          color: $navbar-light-color;
          background-color: transparent;
        }
      }

      &:last-child > a {
        color: $navbar-light-color;
        &:hover,
        &:focus {
          color: $navbar-light-hover-color;
        }
      }

      + li:before {
        color: $navbar-light-hover-color;
      }
    }
  }

  &.navbar-dark {
    ul.navbar-breadcrumbs > li {
      > a {
        color: $navbar-dark-hover-color;
        &:hover,
        &:focus {
          color: $navbar-dark-color;
          background-color: transparent;
        }
      }

      &:last-child > a {
        color: $navbar-dark-color;
        &:hover,
        &:focus {
          color: $navbar-dark-hover-color;
        }
      }

      + li:before {
        color: $navbar-dark-hover-color;
      }
    }
  }
}
